body {
    padding: 20px 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

.card {
    width: 92%;
    max-width: 300px;
    padding: 10px 20px;
    display: inline-table;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}